.pagination {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
}

.pagination-item {
  display: inline-block!important;
  text-align: center;
  min-width: 24px;
  height: 24px;
  margin: 0;
  line-height: 22px;
  list-style: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 0;
  cursor: pointer;
}

.pagination-item:hover {
  color: #1890ff;
}

.pagination-item--active {
  font-weight: 500;
  background: #fff;
  border-color: #1890ff;
  color: #1890ff;
}
