body {
  background-color: #f4f3f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.playerListApp) {
  width: 540px;
  margin-top: 10px;
  padding-top: 18px;
  background-color: #5c75b0;
  border: 1px solid #e3e3e3;
}

:local(.playerListApp h1) {
  color: white;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 10px;
  font-family: Helvetica;
}

:local(.playerPosition) {
  float: right;
  margin-right: 16px;
}

:local(.playerPosition)::after {
  content: "";
  display: block;
  clear: both;
}

:local(.playerPosition > button) {
  height: 24px;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
