.playerListItem {
  list-style: none;
  padding: 20px 10px 20px 20px;
  background-color: white;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
}

.playerInfos {
  flex: 1 0 auto;
}

.playerInfos span {
  font-weight: bold;
}

.playerActions {
  flex: 0 0 90px;
}

.btnAction,
.btnAction:active,
.btnAction:focus,
.btnAction:hover {
  margin-right: 5px;
  color: #5c75b0;
}

button:focus {
  outline: 0 !important;
}
