:local(.playerList) {
  padding-left: 0;
  margin-bottom: 0;
}
.footer {
  display: flex;
  margin: 20px 0;
  font-size:16px;
}


.rcPagination {
  display: flex;
  list-style: none;
  padding-left: 10px;
}
.rcPagination li{
  margin: 0 10px;
 
}